header{
    text-align: center;
    background-color: rgb(218, 216, 216);
}

nav li{
    display: inline;
    padding: 60px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color: black;
}

.logo{
    width: 95px;
}

.menu{
    margin: 20px;
}

img{
    width: 300px;
    border-radius: 20px;

}